@model CreateProductBindingModel

<form asp-action="AddNew" method="post">
	<label asp-for="@Model.Name"></label>
	<input asp-for="@Model.Name" />

	<label asp-for="@Model.Description"></label>
	<input asp-for="@Model.Description" />

	<label asp-for="@Model.Price"></label>
	<input asp-for="@Model.Price" />

	<button type="submit">Submit</button>
</form>